.login(ng-controller="create.session")
  input(type="text", ng-model="credentials.email", placeholder="Email")
  br
  input(type="password", ng-model="credentials.password", placeholder="Password")
  br
  input(type="button", value="Login", ng-click="login()")
