.register(ng-controller="RegisterController")
  input(type="email", value="{{ registration.email }}", placeholder="Email")
  br
  input(type="password", value="{{ registration.password }}", placeholder="Password")
  br
  input(type="password", value="{{ registration.passwordConfirmation }}", placeholder="Password Confirmation")
  br
  input(type="button", value="Register", ng-click="register()")
