input(type="text", ng-model="editor.name", i18n="{ attr: { placeholder: 'name' } }")
br
textarea(rows="6", ng-model="editor.description", i18n="{ attr: { placeholder: 'description' } }")
br
label
  span(i18n="labels.device.controller")
  select(ng-model="editor.controller", ng-options="controller._id as controller.name for controller in controllers", required)
    option(i18n="{ attr: { value: 'selectDefaultOption' } }")
label
  span(i18n="labels.device.converter")
  select(ng-model="editor.converter", ng-options="converter._id as converter.name for converter in converters", required)
    option(i18n="{ attr: { value: 'selectDefaultOption' } }")
label
  span(i18n="labels.device.type")
  select(ng-model="editor.type", ng-options="type as name for (type, name) in deviceTypes", required)
    option(i18n="{ attr: { value: 'selectDefaultOption' } }")
.pins
  span(i18n="labels.device.pins")
  input(type="button", i18n="{ attr: { value: 'add' } }", ng-click="editor.pins.push({})")
  .pin.fade(ng-repeat="pin in editor.pins")
    label
      span(i18n="labels.device.pin.index")
      input(type="number", ng-model="pin.index")
    label
      span(i18n="labels.device.pin.name")
      input(type="text", ng-model="pin.name")
label
  span(i18n="labels.device.connection")
  input(type="text", ng-model="editor.connection")
label
  span(i18n="labels.device.interval")
  input(type="number", ng-model="editor.interval")
