h1 Devices

.create-device(ng-if="session.loggedIn", ng-controller="create.device")
  div(ng-include="'/views/device/edit.html'")
  input(type="button", value="Create", ng-click="create()")

.list-devices
  a.device-item.fade(ng-repeat="device in devices track by device._id", ng-href="/devices/{{ device._id }}")
    {{ device.name }}&nbsp;&bull;&nbsp;{{ device.description }}&nbsp;&bull;&nbsp;{{ device.converter.name }}&nbsp;&bull;&nbsp;{{ device.system.name }}
