.device
  .view.clearfix(ng-hide="editor")
    .buttons.right
      //- For some reason, ng-if + ng-click = no event
      .icon-pencil(ng-show="device.editable", ng-click="edit()")
    .name {{ device.name }}
    .description {{ device.description }}
    .controller {{ device.controller.name }}
    .converter {{ device.converter.name }}
    .type(i18n="deviceTypes.{{ device.type }}")
    .pins
      .pin.fade(ng-repeat="pin in device.pins")
        {{ pin.index }}&nbsp;&bull;&nbsp;{{ pin.name }}
    .interval(i18n="{ key: 'deviceView.interval', data: { interval: device.interval / 1e3 || 0 }, watch: 'device.interval' }")
    chart.values(ng-model="values")

  .edit(ng-if="device.editable", ng-show="editor")
    div(ng-include="'/views/device/edit.html'")
    input(type="button", i18n="{ attr: { value: 'ok' } }", ng-click="update()")
    input(type="button", i18n="{ attr: { value: 'cancel' } }", ng-click="cancel()")
