// Fade
.fade-show-setup, .fade-hide-setup,
.fade-enter-setup, .fade-leave-setup, .fade-mode-setup
{
  .transition;
}

.fade-show-setup,
.fade-enter-setup
{
  opacity: 0;
}
.fade-show-setup.fade-show-start,
.fade-enter-setup.fade-enter-start
{
  opacity: 1;
}

.fade-hide-setup,
.fade-leave-setup
{
  opacity: 1;
}
.fade-hide-setup.fade-hide-start,
.fade-leave-setup.fade-leave-start
{
  opacity: 0;
}

.fade-move-setup
{
  opacity: 0.5;
}
.fade-move-setup.fade-move-start,
{
  opacity: 1;
}
