// Layout
@navigationWidth: 200px;

@ratio: 1.618;
@space: 8px;
@spaceSmall: round(@space / @ratio);
@spaceLarge: round(@space * @ratio);

// Colors
@navigationBackground: #302E2F;
@navigationBackgroundLight: lighten(@navigationBackground, 10%);
@navigationBackgroundDark: darken(@navigationBackground, 10%);

@foreground: #333;
@foregroundLight: lighten(@foreground, 10%);
@foregroundDark: darken(@foreground, 10%);

@accent: #00AEEE;
@accentLight: #00CCFF;
@accentDark: #1570A6;

@neutral: #F7F7F7;
@neutralLight: lighten(@neutral, 10%);
@neutralDark: darken(@neutral, 10%);

// Animation
@animationDuration: 0.4s;
@animationEasing: cubic-bezier(0.250, 0.460, 0.450, 0.940);
