.box-shadow (@value)
{
  -moz-box-shadow: @value;
  -webkit-box-shadow: @value;
  box-shadow: @value;
}

.box-sizing (@value: border-box)
{
  -moz-box-sizing: @value;
  -webkit-box-sizing: @value;
  box-sizing: @value;
}
