.border-radius (@radius: 3px)
{
  -moz-border-radius: @arguments;
  -webkit-border-radius: @arguments;
  border-radius: @arguments;
}

.box-shadow (@value)
{
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.box-sizing (@value: border-box)
{
  -webkit-box-sizing: @arguments;
  -moz-box-sizing: @arguments;
  box-sizing: @arguments;
}

.filter (@value)
{
  -webkit-filter: @arguments;
  -moz-filter: @arguments;
  -ms-filter: @arguments;
  -o-filter: @arguments;
  filter: @arguments;
}

.sprite (@width, @height, @position, @url: "/images/sprite.png")
{
  width: @width;
  height: @height;
  background-image: url(@url);
  background-position: @position;
  background-repeat: no-repeat;
}

.transform (@value)
{
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -ms-transform: @arguments;
  -o-transform: @arguments;
  transform: @arguments;
}

.transition (@value: all @animationDuration @animationEasing)
{
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -ms-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.truncate (@maxWidth)
{
  max-width: @maxWidth;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-select (@value)
{
  -webkit-user-select: @arguments;
  -khtml-user-select: @arguments;
  -moz-user-select: @arguments;
  -ms-user-select: @arguments;
  -o-user-select: @arguments;
  user-select: @arguments;
}
