h1 Systems

.create-system(ng-if="session.loggedIn", ng-controller="create.system")
  div(ng-include="'/views/system/edit.html'")
  input(type="button", value="Create", ng-click="create()")

.list-systems
  a.system-item.fade(ng-repeat="system in systems track by system._id", ng-href="/systems/{{ system._id }}")
    {{ system.name }}&nbsp;&bull;&nbsp;{{ system.description }}
