.system
  .view.clearfix(ng-hide="editor")
    .buttons.right
      //- For some reason, ng-if + ng-click = no event
      .icon-pencil(ng-show="system.editable", ng-click="edit()")
    .name {{ system.name }}
    .description {{ system.description }}

  .edit(ng-if="system.editable", ng-show="editor")
    div(ng-include="'/views/system/edit.html'")
    input(type="button", i18n="{ attr: { value: 'ok' } }", ng-click="update()")
    input(type="button", i18n="{ attr: { value: 'cancel' } }", ng-click="cancel()")
