h1 Converters

.create-converter(ng-if="session.loggedIn", ng-controller="create.converter")
  b Create
  input(type="text", ng-model="converter.name", placeholder="Name")
  br
  textarea(rows="6", ng-model="converter.description", placeholder="Description")
  br
  input(type="text", ng-model="converter.unit", placeholder="Unit")
  br
  input(type="text", ng-model="converter.symbol", placeholder="Symbol")
  br
  input(type="text", ng-model="converter.formula", placeholder="Formula")
  br
  input(type="number", ng-model="converter.minValue", placeholder="Minimum Value")
  br
  input(type="number", ng-model="converter.maxValue", placeholder="Maximum Value")
  br
  input(type="button", value="Create", ng-click="create()")

.list-converters
  a.converter-item.fade(ng-repeat="converter in converters", ng-href="/converters/{{ converter._id }}")
    {{ converter.name }}&nbsp;&bull;&nbsp;{{ converter.description }}&nbsp;&bull;&nbsp;f(x) = {{ converter.formula }}
