h1 Systems

b Create
.system-edit(ng-controller="SystemEditController")
  input(type="text", ng-model="system.name", placeholder="Name")
  br
  textarea(rows="6", ng-model="description.email", placeholder="Description")
  br
  input(type="button", value="Create", ng-click="create()")

b List
.systems
  a.system-item(ng-repeat="system in systems", ng-href="/systems/{{ system._id }}", ng-animate="'fade'")
    .name {{ system.name }}
    .description {{ system.description }}
