h1 Systems

.create-system(ng-if="session.loggedIn", ng-controller="create.system")
  b Create
  input(type="text", ng-model="system.name", placeholder="Name")
  br
  textarea(rows="6", ng-model="system.description", placeholder="Description")
  br
  input(type="button", value="Create", ng-click="create()")

.list-systems
  a.system-item.fade(ng-repeat="system in systems", ng-href="/systems/{{ system._id }}")
    {{ system.name }}&nbsp;&bull;&nbsp;{{ system.description }}
