.user-details(ng-show="true", ng-animate="'fade'")
  .view(ng-hide="edit")
    .buttons.right
      .icon-pencil(ui-if="session.loggedIn", ng-click="edit=true")
    .name {{ user.name }}
    .clear

  .edit(ui-if="session.loggedIn && session.data._id === user._id", ng-show="edit")
    input(type="text", ng-model="user.name", placeholder="Name")
    input(type="button", value="OK", ng-click="update()")
    input(type="button", value="Cancel", ng-click="cancel()")
