.user
  .view.clearfix(ng-hide="edit")
    .buttons.right
      //- for some reason, ng-if + ng-click = no event
      .icon-pencil(ng-show="session.loggedIn && session.data._id === user._id", ng-click="edit=true")
    .name {{ user.name }}
    .description {{ user.description }}

  .edit(ng-if="session.loggedIn && session.data._id === user._id", ng-show="edit")
    input(type="text", ng-model="user.name", placeholder="Name")
    textarea(rows="6", ng-model="user.description", placeholder="Description")
    input(type="button", value="OK", ng-click="update()")
    input(type="button", value="Cancel", ng-click="cancel()")
