doctype
html(ng-cloak, ng-app="app")
  head
    title Domotica
    meta(name="description", content="Automate The World")
    //- SEO
    //- meta(name="fragment", content="!")

    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    //- Responsive UI
    //- meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    //- Stylesheets
    link(type="text/css", rel="stylesheet", href="/lib/FontAwesome/css/font-awesome.min.css")
    link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")

    //- Scripts
    if NODE_ENV === "development"
      //- Libraries
      //- Angular
      script(type="text/javascript", src="/lib/angular.min.js?v=" + version)
      script(type="text/javascript", src="/lib/angular-ui.min.js?v=" + version)

      //- Misc
      script(type="text/javascript", src="/lib/jstorage.js?v=" + version)
      script(type="text/javascript", src="/lib/lodash.min.js?v=" + version)
      script(type="text/javascript", src="/lib/moment.min.js?v=" + version)
      script(type="text/javascript", src="/lib/socket.io.min.js?v=" + version)

      //- Application Scripts
      script(type="text/javascript", src="/scripts/app.js?v=" + version)
      script(type="text/javascript", src="/scripts/controllers.js?v=" + version)
      script(type="text/javascript", src="/scripts/directives.js?v=" + version)
    else
      script(type="text/javascript", src="/scripts/app.js?v=" + version)

  body#main(ng-cloak, ng-show="true", ng-animate="'fade'")
    #content(ng-view, ui-if="connected")
    #navigation(ng-controller="navigation")
      .nav-item
        a.nav-link(href="/", when-active, ng-click="toggle('home')")
          .icon.icon-home
          | Home
      .nav-item
        a.nav-link(href="/users", when-active, ng-click="toggle('users')")
          .icon.icon-group
          | Users
      .nav-item
        a.nav-link(href="/systems", when-active, ng-click="toggle('systems')")
          .icon.icon-tasks
          | Systems
      .nav-item(ng-hide="session.loggedIn")
        .nav-link(ng-class="{ active: active === 'login' }", ng-click="toggle('login')")
          .icon.icon-key
          | Login
        .template(ng-show="active === 'login'", ng-include="'/views/navigation/login.html'")
      .nav-item(ng-hide="session.loggedIn")
        .nav-link(ng-class="{ active: active === 'register' }", ng-click="toggle('register')")
          .icon.icon-user
          | Register
        .template(ng-show="active === 'register'", ng-include="'/views/navigation/register.html'")
      .nav-item
        .nav-link(ng-show="session.loggedIn", ng-click="session.destroy()")
          .icon.icon-off
          | Logout
    #connecting(ng-hide="connected", ng-animate="'fade'")
      .loading
        img.loader(src="/images/loading.gif")
        | Connecting...
