doctype
html(ng-app="Domotica")
  head
    title Domotica

    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    //- Stylesheets
    link(type="text/css", rel="stylesheet", href="/lib/FontAwesome/css/font-awesome.min.css")
    link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")

    //- Scripts
    if NODE_ENV === "development"
      //- Libraries
      //- Angular
      script(type="text/javascript", src="/lib/angular.min.js?v=" + VERSION)
      script(type="text/javascript", src="/lib/angular-ui.min.js?v=" + VERSION)

      //- Misc
      script(type="text/javascript", src="/lib/jstorage.js?v=" + VERSION)
      script(type="text/javascript", src="/lib/lodash.min.js?v=" + VERSION)
      script(type="text/javascript", src="/lib/moment.min.js?v=" + VERSION)

      //- Application Scripts
      script(type="text/javascript", src="/scripts/app.js?v=" + VERSION)
      script(type="text/javascript", src="/scripts/directives.js?v=" + VERSION)
    else
      script(type="text/javascript", src="/scripts/app.js?v=" + VERSION)

  body#main(ng-cloak, ng-show="true", ng-animate="'fade'")
    #content(ng-view, ng-animate="'replace'")
    #navigation(ng-controller="NavigationController")
      .nav-item(ng-repeat="(key, item) in items", ng-click="toggle(key)")
        a.nav-link(ui-if="item.href", href="{{ item.href }}", when-active)
          .icon(class="{{ item.icon }}")
          {{ item.text }}
        .nav-link(ui-if="!item.href", ng-class="{ active: key === active }")
          .icon(class="{{ item.icon }}")
          {{ item.text }}
        //- TODO: Animate, but figure out how to solve this issue first:
        //- https://github.com/angular/angular.js/pull/2331
        .template(ui-if="item.templateUrl", ng-show="key === active", ng-include="item.templateUrl")
