doctype
html(ng-app="domotica")
  head
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    //- Stylesheets
    link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")

  body#main(ng-animate="enter: fade-enter; leave: fade-leave; move:fade-move; show: fade-show; hide: fade-hide")
    #navigation(ng-controller="NavigationController", ng-animate="enter: fade-enter; leave: fade-leave; move:fade-move; show: fade-show; hide: fade-hide")
      .nav-item(ng-repeat="item in items")
        a(href="{{ item.href }}") {{ item.text }}
    #panel
    #content

    script#home-template(type="text/html")
      .home

    script#users-template(type="text/html")
      .users

    script#systems-template(type="text/html")
      .systems

    //- Scripts
    script(type="text/javascript", src="//maps.google.com/maps/api/js?sensor=false")
    if NODE_ENV == "development"
      //- Libraries
      script(type="text/javascript", src="/lib/lodash.min.js?v=" + VERSION)
      script(type="text/javascript", src="/lib/jquery.min.js?v=" + VERSION)
      script(type="text/javascript", src="/lib/angular.min.js?v=" + VERSION)
      script(type="text/javascript", src="/lib/moment.min.js?v=" + VERSION)
    //- Initialize
    script(type="text/javascript", src="/scripts/app.js?v=" + VERSION)
