doctype
html(ng-cloak, ng-app="app")
  head
    title Domotica
    meta(name="description", content="Automate The World")
    //- SEO
    //- meta(name="fragment", content="!")

    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    //- Responsive UI
    //- meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    //- Stylesheets
    link(type="text/css", rel="stylesheet", href="/lib/FontAwesome/css/font-awesome.css")
    link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")

    //- Scripts
    if NODE_ENV === "development"
      //- Libraries
      //- Angular
      script(type="text/javascript", src="/lib/angular.js?v=" + version)
      script(type="text/javascript", src="/lib/angular-animate.js?v=" + version)
      script(type="text/javascript", src="/lib/angular-route.js?v=" + version)

      //- jQuery
      script(type="text/javascript", src="/lib/jquery.js?v=" + version)
      script(type="text/javascript", src="/lib/jquery.flot.js?v=" + version)
      script(type="text/javascript", src="/lib/jquery.flot.time.js?v=" + version)

      //- Misc
      script(type="text/javascript", src="/lib/jstorage.js?v=" + version)
      script(type="text/javascript", src="/lib/lodash.js?v=" + version)
      script(type="text/javascript", src="/lib/moment.js?v=" + version)
      script(type="text/javascript", src="/lib/socket.io-client.js?v=" + version)

      //- Application Scripts
      script(type="text/javascript", src="/scripts/app.js?v=" + version)
      script(type="text/javascript", src="/scripts/controllers.js?v=" + version)
      script(type="text/javascript", src="/scripts/directives.js?v=" + version)
    else
      script(type="text/javascript", src="/scripts/app.js?v=" + version)

  body#main.fade(ng-cloak, ng-show="true")
    //- The content may contain canvas elements that
    //- need to be in the DOM before the chart is rendered
    #content.fade(ng-view, ng-class="connected ? '' : 'hidden'")
    #navigation(ng-controller="navigation")
      .nav-item
        a.nav-link(href="/", when-active, ng-click="toggle('home')")
          .icon.icon-home
          | Home
      .nav-item
        a.nav-link(href="/converters", when-active, ng-click="toggle('converters')")
          .icon.icon-exchange
          | Converters
      .nav-item
        a.nav-link(href="/devices", when-active, ng-click="toggle('devices')")
          .icon.icon-dashboard
          | Devices
      .nav-item
        a.nav-link(href="/systems", when-active, ng-click="toggle('systems')")
          .icon.icon-tasks
          | Systems
      .nav-item
        a.nav-link(href="/users", when-active, ng-click="toggle('users')")
          .icon.icon-group
          | Users
      .nav-item(ng-hide="session.loggedIn")
        .nav-link(ng-class="{ active: active === 'login' }", ng-click="toggle('login')")
          .icon.icon-key
          | Login
        .template(ng-show="active === 'login'")
          div(ng-include="'/views/navigation/login.html'")
      .nav-item(ng-hide="session.loggedIn")
        .nav-link(ng-class="{ active: active === 'register' }", ng-click="toggle('register')")
          .icon.icon-user
          | Register
        .template(ng-show="active === 'register'")
          div(ng-include="'/views/navigation/register.html'")
      .nav-item
        .nav-link(ng-show="session.loggedIn", ng-click="session.destroy()")
          .icon.icon-off
          | Logout
    #connecting.fade(ng-hide="connected")
      .loading
        img.loader(src="/images/loading.gif")
        | Connecting...
        br
        input.connect(type="button", value="Try Now", ng-if="connected === false", ng-click="connect()")
