doctype
html(ng-app="app")
  head
    title Domotica

    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    //- Stylesheets
    link(type="text/css", rel="stylesheet", href="/lib/FontAwesome/css/font-awesome.min.css")
    link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")

    //- Scripts
    if NODE_ENV === "development"
      //- Libraries
      //- Angular
      script(type="text/javascript", src="/lib/angular.min.js?v=" + VERSION)
      script(type="text/javascript", src="/lib/angular-ui.min.js?v=" + VERSION)

      //- Misc
      script(type="text/javascript", src="/lib/jstorage.js?v=" + VERSION)
      script(type="text/javascript", src="/lib/lodash.min.js?v=" + VERSION)
      script(type="text/javascript", src="/lib/moment.min.js?v=" + VERSION)
      script(type="text/javascript", src="/lib/socket.io.min.js?v=" + VERSION)

      //- Application Scripts
      script(type="text/javascript", src="/scripts/app.js?v=" + VERSION)
      script(type="text/javascript", src="/scripts/controllers.js?v=" + VERSION)
      script(type="text/javascript", src="/scripts/directives.js?v=" + VERSION)
    else
      script(type="text/javascript", src="/scripts/app.js?v=" + VERSION)

  body#main(ng-cloak, ng-show="true", ng-animate="'fade'")
    #content(ng-view)
    #navigation(ng-controller="NavigationController")
      .nav-item(ng-hide="session.loggedIn")
        .nav-link(ng-class="{ active: active === 'login' }", ng-click="toggle('login')")
          .icon.icon-key
          | Login
        .template(ng-show="active === 'login'", ng-include="'views/navigation/login.html'")
      .nav-item(ng-hide="session.loggedIn")
        .nav-link(ng-class="{ active: active === 'register' }", ng-click="toggle('register')")
          .icon.icon-user
          | Register
        .template(ng-show="active === 'register'", ng-include="'views/navigation/register.html'")
      .nav-item
        a.nav-link(href="/", when-active, ng-click="toggle('home')")
          .icon.icon-home
          | Home
      .nav-item
        a.nav-link(href="/users", when-active, ng-click="toggle('users')")
          .icon.icon-group
          | Users
      .nav-item
        a.nav-link(href="/systems", when-active, ng-click="toggle('systems')")
          .icon.icon-tasks
          | Systems
      .nav-item
        .nav-link(ng-show="session.loggedIn", ng-click="session.destroy()")
          .icon.icon-off
          | Logout
