input(type="text", ng-model="editor.name", i18n="{ attr: { placeholder: 'name' } }")
br
textarea(rows="6", ng-model="editor.description", i18n="{ attr: { placeholder: 'description' } }")
br
label
  span(i18n="labels.converter.unit")
  input(type="text", ng-model="editor.unit")
label
  span(i18n="labels.converter.symbol")
  input(type="text", ng-model="editor.symbol")
label
  span(i18n="labels.converter.formula")
  input(type="text", ng-model="editor.formula")
label
  span(i18n="labels.converter.minValue")
  input(type="number", ng-model="editor.minValue")
label
  span(i18n="labels.converter.maxValue")
  input(type="number", ng-model="editor.maxValue")
