h1.capitalize(i18n="converter")

.create-converter(ng-if="session.loggedIn", ng-controller="converter.create")
  div(ng-include="'/views/converter/edit.html'")
  input(type="button", i18n="{ attr: { value: 'create' } }", ng-click="create()")

.list-converters
  a.converter-item.fade(ng-repeat="converter in converters track by converter._id", ng-href="/converters/{{ converter._id }}")
    {{ converter.name }}&nbsp;&bull;&nbsp;{{ converter.description }}&nbsp;&bull;&nbsp;f(x) = {{ converter.formula }}
