input(type="text", ng-model="editor.name", i18n="{ attr: { placeholder: 'name' } }")
br
textarea(rows="6", ng-model="editor.description", i18n="{ attr: { placeholder: 'description' } }")
br
input(type="text", ng-model="editor.connected.id", i18n="{ attr: { placeholder: 'labels.controller.connected.id' } }")
br
